@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: brown;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
  
}
*{
  font-family: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}